<launch>

<!--
Run as, e.g., 

    roslaunch aprs_objects aprs_safety.launch debug:=0x01
-->

<arg name="debug" default="1" />
<arg name="prefix" default="/beam" />

<node pkg="aprs_objects" name="aprs_safety" type="aprs_safety_node" args="-d $(arg debug) -p $(arg prefix)" output="screen" />

</launch>
