<launch>

<env name="GAZEBO_MEDIA_PATH"  value="$(find gzrcs)/../../gzdatabase/media" />   
<env name="GAZEBO_PLUGIN_PATH"  value="$(find gzrcs)/../../plugins9" />   
<env name="GAZEBO_MODEL_PATH"  value="$(find gzrcs)/../../gzdatabase/models" />   
<env name="GAZEBO_RESOURCE_PATH"  value="$(find gzrcs)/../../Worlds" />   
	<!-- These params are for aprs_object vision simulator   -->
	<param name="debug" value="31" type="int" />
	
	<param name="cam1" value="5001" type="int" />
	<param name="cam2" value="5002" type="int" />

	<param name="cam1_x_min" value="0" type="double" />
	<param name="cam1_y_min" value="-1.5" type="double" />
	<param name="cam1_x_max" value="1" type="double" />
	<param name="cam1_y_max" value="-0.8" type="double" />

	<param name="cam2_x_min" value="-1" type="double" />
	<param name="cam2_y_min" value="-0.75" type="double" />
	<param name="cam2_x_max" value="1" type="double" />
	<param name="cam2_y_max" value="1" type="double" />
    <arg name="cam1" default="5001" />
    <arg name="cam2" default="5002" />
	
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="aprs-lab.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" default="0" />


  </include>
</launch>
